* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-image: none;
    --bg-animation: none;
}

body {
    height: 100dvh;
    display: grid;
    place-content: center;
    background-image: var(--bg-image);
    background-size: cover;
    animation: var(--bg-animation);
}

.content {
    flex-direction: column;
    display: flex;
    gap: 16px;
}

.cidade {
    font-size: 3rem;
    text-align: center;
    width: 350px;
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

.botoes button {
    font-size: 2rem;
    width: 150px;
}

@keyframes slider {

    0%,
    20% {
        background-image: url(./img/barueri.jpg);
    }

    21%,
    40% {
        background-image: url(./img/carapicuiba.jpg);
    }

    41%,
    60% {
        background-image: url(./img/cotia.jpg);
    }

    61%,
    80% {
        background-image: url(./img/itapevi.jpg);
    }

    81%,
    100% {
        background-image: url(./img/jandira.jpg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    15%,
    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}